@import '../../styles/variables.scss';

.button {
    width: 30rem;
    cursor: pointer;
    transition: 0.2s ease-in;

    border: 2px solid;
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    @media (max-width: 400px) {
        width: 75%;
    }

    &__icon {
        width: 4.1rem;
        position: absolute;
        left: 5%;
    }

    &__text {  
        transition: 0.2s ease-in;
    }

    &__icon-hover {
        display: none
    }

    &:hover {
        background-color: $color-white;
        
        .button__text { color: $color-lighter-black; }
        .button__icon { display: none }
        .button__icon-hover { display: block }
    }
}