@import '../../styles/variables.scss';

.button {
    padding: 3rem 0;
    width: 30rem;
    margin: 0 auto;
    cursor: pointer;

    
    &__text {  
        border: 2px solid;
        text-align: center;
        width: 100%;
        padding: 1rem;
        margin: 0 auto;
    }
}