@import '../../styles/variables.scss';

.header {
    padding: 2rem 0;
    width: 45rem;
    margin: 0 auto;

    &__text {
        color: $color-white;
        text-align: center;
        font-size: 3rem;
    }

    &__underline {
        margin: 0 auto;
        background-color: $color-white;
        width: 4rem;
        height: 0.3rem;
    }
}