@import '../../styles/variables.scss';

.navbar {

    display: flex;
    align-items: center;

    &__logo {
        color: $color-white;
        margin: 3.5rem;
        font-family: 'Kalam-Bold';
        width: 5rem;
        cursor: pointer;

        z-index: 999;
    }

    &__items {
        margin-left: auto;
        margin-right: 5rem;

        z-index: 999;
    }

    &__item {
        color: $color-white;
        margin: 0 3rem;
        text-decoration: none;
        font-size: 2.2rem;
        transition: 0.1s ease-out;
    }

    &__item:hover {
        color: #AAA
    }

    @media (max-width: 850px) {
        &__items {
            display: none;
        }

        // menu
        &__hamburger {

            z-index: 999;
            margin: 0 4rem 0 auto;
            cursor: pointer;
            
            &-bar {
                width: 4rem;
                background-color: $color-white;
                height: 0.4rem;
                border-radius: 0.2rem;
            }
            
            &-bar:not(:last-child) { margin-bottom: 1rem; }
        }
        
        // items
        &__hamburger {

            &-bg {
    
                position: absolute;
                width: 5rem;
                height: 5rem;
                top: 5rem;
                right: 5rem;
                border-radius: 50%;

                z-index: 100;
    
                background-color: $color-black;
    
                
                &-hide { display: none }
                
                &-show { 
                    display: block;
                    animation: show-bg 1s forwards;
                }

                @keyframes show-bg {
                    from {
                        transform: scale(1);
                    }

                    to {
                        transform: scale(60);
                    }
                }
            }

            &-items {
                text-align: center;
                position: absolute;
                cursor: pointer;

                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                &-show { display: block; }

                &-hide { display: none; }

                z-index: 999;

                animation: show-items 1s forwards;

                @keyframes show-items {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }
            }

            &-item {
                margin: 0.5rem;

            }
        }
    }

    @media (min-width: 850px) {
        &__hamburger {
            &-bg {
                display: none;
            }

            &-items {
                display: none;
            }
        }
    }
}