@import '../../styles/variables.scss';

.work {
    background-color: $color-lighter-black;

    &__images {
        justify-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 40rem);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 7rem;
        padding: 2rem 0;
    }

    &__image {
        width: 100%;

        -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);


        border-radius: 2rem;
        cursor: pointer;
    }

    @media (max-width: 1450px) {
        &__images {
            grid-template-columns: repeat(3, 30rem);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 5rem;
        }
    }

    @media (max-width: 1150px) {
        &__images {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 3rem;
            margin: 0 10rem;
        }
    }

    @media (max-width: 700px) {
        &__images {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-gap: 3rem;
            margin: 0 10rem;
        }

        &__image:last-child {
            display: none;
        }
    }

    @media (max-width: 500px) {
        &__images {
            grid-gap: 3rem;
            margin: 0 5rem;
        }
    }
}